@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --textColor: #14a800;
}
body {
  font-size: 16px;
}
html {
  font-size: 10px;
}
header {
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: transform background;
  transition-duration: 0.5s;
  z-index: 999;
}
.container {
  width: 100%;
  position: relative;
  /* height: 100vh; */
  overflow: auto;
  scroll-snap-type: y mandatory;
}
header.active {
  background: var(--textColor);
}
header.unpinned {
  transform: translateY(-100%);
}
header.pinned {
  transform: translateY(0);
}

header.sticky {
  background: var(--textColor);
  padding: 1rem 10rem;
}
header .brand {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation {
  position: relative;
}

.checkbox {
  display: none;
}

header .navigation a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: none;
  margin-left: 3rem;
  transition: 0.5s ease;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}
header .navigation a:hover {
  color: var(--textColor);
  background: #fff;
}
/* Section */
section {
  padding: 10rem;
  height: auto;
  /* height: 120vh; */
  scroll-snap-align: start;
}
/* Main */
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)),
    url(../images/head.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main .typed {
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
}
.main .type-text {
  display: flex;
  flex-direction: row;
  font-size: 6rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
}
.main .content {
  max-width: 80rem;
}
.main .content h2 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 500;
}
.main .content h2 span {
  font-size: 6rem;
  font-weight: 600;
}
.animated-text {
  height: 7rem;
  overflow: hidden;
  position: relative;
}
.animated-text h3 {
  color: var(--textColor);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 0.1rem;
}
.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -7rem;
  }
  50% {
    margin-top: -14rem;
  }
  75% {
    margin-top: -7rem;
  }
  100% {
    margin-top: 0;
  }
}
.btn {
  color: #fff;
  background: var(--textColor);
  font-size: 1.7rem;
  font-weight: 600;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
  margin: 3rem 0;
  transition: 0.5s ease;
}
.btn:hover {
  color: #000;
  background: #fff;
}
.media-icon a {
  color: #fff;
  font-size: 2.5rem;
  margin-right: 3rem;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.media-icon a:hover{
  background-color: var(--textColor);

}

/* Section Abuot Me */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title {
  position: relative;
  color: var(--textColor);
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 6rem;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 5.6rem;
  left: 50%;
  width: 14rem;
  height: 0.4rem;
  background: var(--textColor);
  transform: translateX(-50%);
}
.section-title::after {
  content: "";
  position: absolute;
  top: 5rem;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--textColor);
  transform: translateX(-50%);
}
.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.about .content .col-left {
  position: relative;
  width: 45%;
}
.about .content .col-right {
  position: relative;
  width: 45%;
}
.about .content .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
}
.about .content .img-card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.about .content-title {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.paragraph-text {
  text-align: justify;
  font-size: 1.6rem;
}
/* Section Skills */
.skills {
  background: #000016;
}
.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2rem;
}
.skills .col-left {
  position: relative;
  width: 45%;
}
.skills .col-left .content-title {
  margin-bottom: 2rem;
}
.skills .col-right {
  position: relative;
  width: 45%;
}
.skills .col-right .bar {
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.skills .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.skills .col-right .bar .info span {
  font-size: 1.8rem;
  font-weight: 500;
}
.skills .line {
  position: relative;
  width: 100%;
  height: 1.5rem;
  background: #ccc;
  border-radius: 0.2rem;
}
.skills .line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
}
.skills .html::before {
  width: 70%;
  background: #e35025;
}
.skills .css::before {
  width: 50%;
  background: #0a6aa7;
}
.skills .javascript::before {
  width: 30%;
  background: #bc871c;
}
.skills .jquery::before {
  width: 30%;
  background: #1fa34e;
}
.skills .bootstrap::before {
  width: 50%;
  background: #6b35b3;
}
.services .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.title p {
  width: 80%;
}
.services .content .card {
  background: #fff;
  width: 30rem;
  margin: 1rem;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.5rem 2.5rem rgba(1 1 1/15%);
  border-radius: 1rem;
  text-align: center;
}
.services .card .services-icon {
  color: var(--textColor);
  font-size: 12rem;
  transition: 0.5s all ease;
}
.services .card .services-icon:hover {
  transform: translateY(-10px);
}
.services .card .info {
  text-align: center;
}
.services .card .info h3 {
  color: var(--textColor);
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}
/* My work Section  */
.work {
  background: #000016;
}
.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-top: 2rem;
}
.work .content .card {
  flex: 1 1 25rem;
}
.work .content .card-img {
  position: relative;
  width: 100%;
  height: 26rem;
  border-radius: 1rem;
  overflow: hidden;
}
.work .content .card-img img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: 0.5s all ease;
}
.work .content .card-img img:hover {
  transform: scale(1.2);
}
/* contact services */

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
}
.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.contact .row .card {
  background: #fff;
  width: 24rem;
  margin: 2rem;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.5rem 2.5rem rgba(1 1 1/15%);
  border-radius: 1rem;
}
.contact .card .contact-icon {
  color: var(--textColor);
  font-size: 6rem;
  text-align: center;
  transition: 0.5s all ease;
}
.contact .card:hover .contact-icon {
  transform: translateY(-1rem);
}
.contact .card .info h3 {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
}
.contact .card .info span {
  color: #666;
  font-weight: 500;
}
.contact-form {
  background: #fff;
  max-width: 60rem;
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2.5rem rgba(1 1 1/15%);
}
.contact-form {
  color: #111;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  outline: none;
  border: 0.1rem solid #111;
  border-radius: 0.5rem;
  resize: none;
}
.contact-form .input-box .send-btn {
  color: #fff;
  background: var(--textColor);
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s all ease;
}
.contact-form .input-box .send-btn:hover {
  background: #fff;
  color: #000;
  border: 0.1rem solid #111;
}

.footer {
  background: #000016;
  text-align: center;
  color: #fff;
  padding: 3.4rem;
}
.footer .footer-title {
  font-size: 2rem;
  font-weight: 600;
}
.footer p {
  margin-top: 1rem;
}

/* media */

@media (max-width: 104.9rem) {
  header {
    padding: 1.2rem;
  }

  label {
    cursor: pointer;
  }

  .menu-btn {
    position: relative;
    z-index: 200;
    right: 3rem;
  }
  .menu-btn span {
    display: block;
    margin: 0.6rem 0;
    height: 0.2rem;
    width: 3rem;
    background: #fff;
    transform-origin: 0.4rem;
    /* transition: 0.4s cubic-bezier(0.43, 1.62, 1, 1.81); */
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .checkbox:checked + label span:first-of-type {
    transform: rotate(45deg);
  }

  .checkbox:checked + label span:nth-of-type(2) {
    transition-delay: -0.4s;
    opacity: 0;
  }
  .checkbox:checked + label span:last-of-type {
    transform: rotate(-45deg);
  }

  header .navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
    width: 40vw;
    background: rgba(0, 0, 22, 0.4);
    box-shadow: 0 0.5rem 2.5rem rgba(1 1 1/15%);
    transform: translate(100%);
    transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: 20;

    /* background: rgba(255, 255, 255, 0.068); */
    /* border: 1px solid rgba(255, 255, 255, 0.103); */
    /* border-radius: 20px; */
    backdrop-filter: blur(1rem) saturate(180%);
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
  }

  header.sticky {
    padding: 1rem 2rem;
  }
  header .navigation.active {
    transform: translate(0);
  }
  header .navigation a {
    columns: rgb(0, 0, 0);
    font-size: 2.2rem;
    margin: 1rem;
    padding: 0 2rem;
    border-radius: 2rem;
    background: var(--textColor);
  }

  section {
    padding: 8rem 2rem;
  }
  .main .content h2 {
    font-style: 2.5rem;
  }
  .main .content h2 {
    font-style: 3.5rem;
  }
  .section-title {
    font-size: 3.6rem;
  }
  /* About */
  .about .content {
    flex-direction: column;
  }
  .about .content .column {
    position: relative;
    width: 100%;
  }
  .about .content .col-right {
    margin-top: 4rem;
  }
  .skills .content {
    flex-direction: column;
  }
  .skills .content .column {
    position: relative;
    width: 100%;
  }
  .skills .content .col-right {
    margin-top: 4rem;
  }
}

.scrollToTop-btn{
  z-index:999;
  position: fixed;
  background: var(--textColor);
  color: #fff;
  width: 4.5rem;
  height: 4.5rem;
  right: 0;
  bottom: 1rem;
  font-size: 2.2rem;
  text-align: center;
  line-height: 4.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
.scrollToTop-btn.scrollactive{
  right: 2rem;
  opacity: 1;
}
.reveal{
  position: relative;
  transform:translateY(5rem);
  opacity: 0;
  transition: all 1.3s ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}